@import '../../../../styles/variable'

.procedure_bg
    background-color: #fdfaeb
    background-image: url("/images/about/bg/bg_4.webp")
    background-position: left bottom
    background-repeat: no-repeat

.procedure_title
    @extend %font_size_32
    font-family: "oswald",roboto
    font-weight: $nine_hundred
    letter-spacing: 1px

.procedure_title_ar
    font-size: 24px $important
    font-family: $noto_kufi
    font-weight: $seven_hundred

.procedure_description
    font-size: 16px
    font-family: roboto
    font-weight: 400

.procedure_description_ar
    font-size: 14px
    font-family: $noto_kufi
    font-weight: 400
    word-spacing: 2px

.procedure_container
    @extend %container_padding

@media only screen and (max-width: 1024px)
    .procedure_container
        @include container_padding_lapScreen

@media only screen and (max-width: 768px)
    .procedure_container
        @include container_padding_tabScreen

@media only screen and (max-width: 500px)
    .procedure_container
        @include container_padding_smScreen
