@import '../../../../../../styles/variable'

.approval_initiation
    color: $primary_color
    font-weight: $nine_hundred
    @extend %font_size_25

.tail
    width: 1px
    height: 100px
    background-color: $primary_color
