@import '../../../../../../styles/variable'

.container
    @extend %container_padding

.approval_bg
    background-image: url("/images/about/approval/bg_1.webp"),url("/images/about/approval/bg_2.webp")
    background-position: 0px 101%, right 25%
    background-repeat: no-repeat,no-repeat

.approval_title
    @extend %font_size_32
    font-family: "oswald",roboto
    font-weight: $nine_hundred
    letter-spacing: 1px

.approval_initiation
    font-family: "oswald",roboto
    color: $primary_color
    font-weight: $nine_hundred
    @extend %font_size_25
    letter-spacing: 1px

.tail
    width: 1px
    height: 100px
    background-color: $primary_color


@media only screen and (max-width: 1024px)
    .container
        @include container_padding_lapScreen

@media only screen and (max-width: 768px)
    .container
        @include container_padding_tabScreen

@media only screen and (max-width: 500px)
    .container
        @include container_padding_smScreen