@import '../../../styles/variable'

.stories_card_container
    height: 1450px

.bg
    background-image: url("/images/projects/bg/bg_1.webp"),url("/images/projects/bg/bg_2.webp")
    background-position: right center,left bottom
    background-repeat: no-repeat,no-repeat
