@import '../../../../styles/variable'

.fund_resource_container
    @extend %container_padding
    background-color: #e4e7ee
    background-image: url("/images/background/landing/resources.webp")
    background-position: right bottom
    background-repeat: no-repeat

.fund_indecator
    height: 135px
    width: 135px
    font-weight: $nine_hundred
    @extend %font_size_25

.primary_bg
    background-color: $primary_color

.secondary_bg
    background-color: $secondary_color

.primary_font
    color: $primary_color

.secondary_font
    color: $secondary_color

.fund_title
    font-weight: $nine_hundred
    @extend %font_size_18
