@import '../../../../styles/variable'

.sector_container
    background-color: #0d3c47
    background-image: url("/images/background/landing/sector.webp")
    background-position: left bottom
    background-repeat: no-repeat

.sector_chart_container
    padding: 0 0 0 100px

.chart_percent
    font-size: 28px
    font-weight: $nine_hundred

.sector_title
    @extend %font_size_35
    font-weight: $five_hundred

.sector_subtitle
    @extend %font_size_18
    color: rgba(255, 255, 255, 0.87)

.tooltip
    font-weight: $five_hundred

.sector_chart_title
    @extend %font_size_18
    font-weight: $five_hundred
    color: #c3c5c6
