@import '../../../../../../styles/variable'

.container
    @extend %container_padding

.proposal_container
    border-radius: 15px
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15),6px 6px 8px 0 rgba(255, 255, 255, 0.3) inset,-8px -8px 12px 0 rgba(0, 0, 0, .25) inset

.proposal_title
    @extend %font_size_32
    font-family: "oswald",roboto
    font-weight: $nine_hundred
    letter-spacing: 1px

.proposal_des
    font-family: roboto
    word-spacing: 2px
    word-break: keep-all

.proposal_under_line
    width: 200px
    margin: 0 $auto
    height: 0 $important
    border: .5px solid $grey_color $important
    opacity: 1

@media only screen and (max-width: 1024px)
    .container
        @include container_padding_lapScreen

@media only screen and (max-width: 768px)
    .container
        @include container_padding_tabScreen

@media only screen and (max-width: 500px)
    .container
        @include container_padding_smScreen