@import '../../../../../../styles/variable'

.container
    @extend %container_padding

.proposal_container
    border-radius: 15px

.proposal_title
    @extend %font_size_32
    font-family: "oswald",roboto
    font-weight: $nine_hundred
    letter-spacing: 1px

.proposal_des
    font-family: roboto
    word-spacing: 2px
    word-break: keep-all

.proposal_under_line
    width: 200px
    margin: 0 $auto
    height: 0 $important
    border: .5px solid $grey_color $important
    opacity: 1
