@import '../../../../../../styles/variable'

.container
    @extend %container_padding

.proposal_container
    border-radius: 15px

.proposal_title
    @extend %font_size_32
    font-family: "oswald",roboto
    font-weight: $nine_hundred
    letter-spacing: 1px

.proposal_title_ar
    font-size: 24px $important
    font-family: $noto_kufi
    font-weight: $seven_hundred

.proposal_des
    font-family: roboto
    word-spacing: 2px
    word-break: keep-all

.proposal_des_ar
    font-family: $noto_kufi
    word-spacing: 2px
    word-break: keep-all
    font-size: 14px $important

.proposal_under_line
    width: 200px
    margin: 0 $auto
    height: 0 $important
    border: .5px solid $grey_color $important
    opacity: 1

@media only screen and (max-width: 1024px)
    .container
        @include container_padding_lapScreen

@media only screen and (max-width: 768px)
    .container
        @include container_padding_tabScreen

@media only screen and (max-width: 500px)
    .container
        @include container_padding_smScreen