@import '../../../../../styles/variable'

.container
    @extend %container_padding

.project_details_bg
    background-image: url("/images/projects/bg/bg_1.webp"),url("/images/projects/bg/bg_2.webp")
    background-position: right center,left bottom
    background-repeat: no-repeat,no-repeat

.geographical_approval_title
    color: $secondary_color
    @extend %font_size_32
    font-family: "oswald",roboto
    font-weight: $nine_hundred
    letter-spacing: 0.5px

.sectoral_approval_title
    color: $primary_color
    @extend %font_size_32
    font-family: "oswald",roboto
    font-weight: $nine_hundred
    letter-spacing: 0.5px

.common_sectoral_list
    font-family: roboto
    height: 60px
    width: 520px
    border-radius: 8px
    letter-spacing: 0.2px
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15),6px 6px 8px 0 rgba(255, 255, 255, 0.3) inset,-8px -8px 12px 0 rgba(0, 0, 0, .25) inset

.sector_labels
    font-family: roboto
    letter-spacing: 0.2px

.number_of_projects,
.percentage
    font-size: 16px
    font-family: "oswald"
    font-weight: $five_hundred
