@import '../../../../../styles/variable'

.geographical_approval_title
    color: $secondary_color
    @extend %font_size_25
    font-weight: 700

.sectoral_approval_title
    color: $primary_color
    @extend %font_size_25
    font-weight: 700

.common_sectoral_list
    height: 60px
    width: 520px
    border-radius: 8px

.number_of_projects
    font-size: 16px
    font-weight: $five_hundred
