@import '../../../../../styles/variable'

.bg_primary_color
    background-color: $primary_color
.bg_secondary_color
    background-color: $secondary_color
.bg_theme_dark_green_color
    background-color: $theme_dark_green_color
.bg_theme_lite_blue_color
    background-color: $theme_lite_blue_color
.bg_theme_sky_blue_color
    background-color: $theme_sky_blue_color
.bg_theme_golden_color
    background-color: $theme_golden_color
