@import '../../../styles/variable'

.contribution_card_container
    width: 100%
    height: 180px
    border-radius: 12px
    background: url("/images/contribution/cardBg.webp") bottom left no-repeat
    box-shadow: 6px 6px 8px 0 rgba(255, 255, 255, 0.3) inset,-8px -8px 12px 0 rgba(0, 0, 0, .25) inset

.contribution_card_amount
    z-index: 100

.contribution_amount_title
    font-family: "oswald",roboto
    @extend %font_size_35
    font-weight: $five_hundred
    letter-spacing: 1px

.contribution_amount_subtitle
    font-family: roboto
    @extend %font_size_14
    color: $lite_grey_color
    letter-spacing: 0.8px

.contribution_card_logo
    height: 60px
    width: 60px
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5)

@media only screen and (max-width: 768px)
    .contribution_card_container
        height: 140px

@media only screen and (max-width: 500px)
    .contribution_card_container
        width: 80%