@import '../../../../styles/variable'

.mission_container
    @extend %container_padding

.mission_description
    font-family: roboto
    font-size: 15px
    word-spacing: 2px
    word-break: keep-all

.mission_title
    font-family: "oswald",roboto
    @extend %font_size_32
