@import '../../../../../../styles/variable'

.card_container
    height: 340px
    border-radius: 16px

.card_icon_container
    width: 50px
    height: 50px
    border-radius: 12px

.secondary_color
    background-color: $secondary_color $important

.theme_golden_color
    background-color: $theme_golden_color $important

.primary_color
    background-color: $primary_color $important
