@import '../../../../../../styles/variable'

.container
    @extend %container_padding
    padding: 0 100px

.card_container
    width: 280px
    height: 330px
    border-radius: 16px

.card_title
    font-family: "oswald",roboto
    letter-spacing: 0.5px

.card_des
    font-family: roboto
    word-spacing: 2px
    word-break: keep-all

.card_icon_container
    width: 50px
    height: 50px
    border-radius: 12px

.secondary_color
    background-color: $secondary_color $important

.theme_golden_color
    background-color: $theme_golden_color $important

.primary_color
    background-color: $primary_color $important

@media only screen and (max-width: 1024px)
    .container
        @include container_padding_lapScreen
        padding: 0 40px
    .card_container
        height: 330px
        width: auto

@media only screen and (max-width: 768px)
    .container
        @include container_padding_tabScreen
        padding: 0
    .card_title
        @include font_size_18
    .card_des
        font-size: 12px

@media only screen and (max-width: 500px)
    .container
        @include container_padding_smScreen
