@import  '../../../../styles/variable'

.stories_img_card
    height: 325px
    overflow: hidden
    border-radius: 12px

.stories_card_container
    @extend %container_padding

.stories_img_des_container
    z-index: 100
    background-image: linear-gradient(360deg, #2a418550 0%, #66686900 100%)

.stories_img_des1
    font-size: 16px
    font-family: roboto
    font-weight: $five_hundred
    letter-spacing: .8px

.stories_under_line
    width: 60px
    margin: 0 $auto
    height: 0 $important
    border: .5px solid $white_color $important
    opacity: 1

.stories_img_des2
    font-size: 12px
    font-family: roboto
    letter-spacing: .5px

@media only screen and (max-width: 1024px)
    .stories_card_container
        @include container_padding_lapScreen

@media only screen and (max-width: 768px)
    .stories_card_container
        @include container_padding_tabScreen

@media only screen and (max-width: 500px)
    .stories_card_container
        @include container_padding_smScreen
    .stories_img_des1
        @include font_size_14
    .stories_img_des2
        font-size: 8px $important
