@import '../../../../styles/variable'

.intro_container
    @extend %container_padding

.intro_description
    font-family: roboto
    font-size: 15px
    word-spacing: 2px
    word-break: keep-all
    
@media only screen and (max-width: 1024px)
    .intro_container
        @include container_padding_lapScreen

@media only screen and (max-width: 768px)
    .intro_container
        @include container_padding_tabScreen

@media only screen and (max-width: 500px)
    .intro_container
        @include container_padding_smScreen
