@import '../../../../styles/variable'

.bg
    background-image: url("/images/contact/map_bg.webp")
    background-position: top left
    background-repeat: no-repeat

.container
    @extend %container_padding

.map_title
    @extend %font_size_35
    font-weight: $nine_hundred

.map_container
    height: 600px
    border-radius: 12px
    overflow: hidden
