@import '../../../../styles/variable'

.banner_card_section
    @extend %container_padding
    top: 25%
    z-index: 100

.banner_card_section_title
    @extend %font_size_35

.banner_card_section_subtitle
    @extend %font_size_18
    color: $lite_white_color
    font-weight: $five_hundred

.banner_card
    height: 100px
    width: 200px
    border-radius: 15px

.banner_card_logo_container
    height: 25px

.banner_card_logo_section
    height: 50px
    width: 50px
    top: -25px
    border: 5px solid $white_color

.banner_card_nav_arrow
    vertical-align: middle $important
    font-size: 10px

.banner_card_title
    @extend %font_size_25

.banner_card_subtitle
    @extend %font_size_14
    font-weight: $five_hundred

.bg_primary_color
    background-color: $primary_color
.bg_secondary_color
    background-color: $secondary_color
.bg_theme_dark_green_color
    background-color: $theme_dark_green_color
.bg_theme_lite_blue_color
    background-color: $theme_lite_blue_color
.bg_theme_sky_blue_color
    background-color: $theme_sky_blue_color
.bg_theme_golden_color
    background-color: $theme_golden_color

.ft_primary_color
    color: $primary_color
.ft_secondary_color
    color: $secondary_color
.ft_theme_dark_green_color
    color: $theme_dark_green_color
.ft_theme_lite_blue_color
    color: $theme_lite_blue_color
.ft_theme_sky_blue_color
    color: $theme_sky_blue_color
.ft_theme_golden_color
    color: $theme_golden_color
