@import '../../../../styles/variable'

.role_container
    @extend %container_padding

.role_bg
    background-image: url("/images/about/bg/bg_3.webp")
    background-position: 0
    background-repeat: no-repeat

.role_title
    @extend %font_size_32
    font-family: "oswald",roboto
    font-weight: $nine_hundred
    letter-spacing: 1px

.role_description
    font-family: roboto
    font-size: 15px
    font-weight: $five_hundred
    word-spacing: 2px
    word-break: keep-all
    line-height: 22px

.role_details_conatiner
    height: 520px
    border-radius: 15px
    background-color: #ffffff

.role_bullet_point
    color: #d32050
    @extend %font_size_25
