@import '../../../../../styles/variable'

.continer_bg
    background-image: url("/images/about/Members/leftBg.webp"),url("/images/about/Members/rightBg.webp"),linear-gradient(#fff 5%, #f4f4f4 70%, #fdfaeb 70%)
    background-position: left 58%, right 20%
    background-repeat: no-repeat, no-repeat

.secondary_color
    background-color: $secondary_color $important

.theme_golden_color
    background-color: $theme_golden_color $important

.primary_color
    background-color: $primary_color $important
