@import '../../../../styles/variable'

.form_container
    @extend %container_padding


.input_box
    input[type="text"]
        text-align: right
    ::-webkit-input-placeholder
        text-align: right
    ::-moz-placeholder
        text-align: right
    :-ms-input-placeholder
        text-align: right
    :-moz-placeholder
        text-align: right
    



@media only screen and (max-width: 1024px)
    .form_container
        @include container_padding_lapScreen

@media only screen and (max-width: 768px)
    .form_container
        @include container_padding_tabScreen

@media only screen and (max-width: 500px)
    .form_container
        @include container_padding_smScreen
