@import '../../../../../../styles/variable'

.function_bg
    background-color: #fdfaeb

.function_container
    @extend %container_padding

.function_title
    @extend %font_size_32
    font-family: "oswald",roboto
    letter-spacing: 1px

.function_title_ar
    font-size: 24px $important
    font-family: $noto_kufi

.secondary_color
    background-color: $secondary_color $important

.theme_golden_color
    background-color: $theme_golden_color $important

.primary_color
    background-color: $primary_color $important

@media only screen and (max-width: 1024px)
    .function_container
        @include container_padding_lapScreen

@media only screen and (max-width: 768px)
    .function_container
        @include container_padding_tabScreen

@media only screen and (max-width: 500px)
    .function_container
        @include container_padding_smScreen
