@import '../../../../../../styles/variable'

.function_container
    @extend %container_padding

.secondary_color
    background-color: $secondary_color $important

.theme_golden_color
    background-color: $theme_golden_color $important

.primary_color
    background-color: $primary_color $important
