@import '../../../styles/variable'

.container
    height: 135px
    bottom: 0%
    z-index: 100
    position: absolute

.card
    @extend %container_padding
    border-radius: 20px 20px 0 0
    height: 101%

// .page_common_section_title,
// .page_common_section_social_media_icon
//     height: 75px

.page_common_section_title
    font-family: "oswald",roboto
    @extend %font_size_32
    font-weight: $nine_hundred
    letter-spacing: 1.5px

.primary_color
    color: $primary_color

.separator
    @extend %font_size_18

.breadcrumb_item
    text-transform: capitalize
    font-weight: $five_hundred
    font-family: roboto
    @extend %font_size_18

.social_media_container
    background-color: $primary_color
    height: 40px
    width: 40px
    &:hover
        transform: scale(1.1)

.social_dd_button

@media only screen and (max-width: 1024px)
    .card
        @include container_padding_lapScreen

@media only screen and (max-width: 768px)
    .container,
    .card
        height: auto

    .container
        position: relative
    .card
        width: 100% $important
        border-radius: 0

@media only screen and (max-width: 500px)
    .container,
    .card
        height: auto
    .page_common_section_title
        @include font_size_25
        margin-bottom: 5px
    .breadcrumb_item,
    .page_common_section_breadcrum,
    .separator
        display: none $important
