@import '../../../styles/variable'

.step_bullet
    font-size: 100px
    line-height: 6px
    height: 30px
    color: #ddd

.step_connecter
    width: 2px
    background-color: #ddd

.description
    color: $grey_color
