@import '../../../../styles/variable'

.chart_container
    border-radius: 16px

.fund_chart_indicator
    width: 25px
    height: 20px

.indicator_text
    @extend %font_size_18
    font-weight: $nine_hundred

.bar_chart
    height: 435px

.chart_xAxis
    height: 150px

.xAxis_container
    width:118px