@import '../../../../styles/variable'

.bg2
    background-image: url("/images/contribution/arab.webp")
    background-position: top left
    background-repeat: round

.container
    @extend %container_padding

.chart_container
    border-radius: 16px

.chart_container_title
    @extend %font_size_32
    font-family: "oswald",roboto
    font-weight: $nine_hundred
    letter-spacing: 1px

.fund_chart_indicator
    width: 25px
    height: 20px

.indicator_text
    @extend %font_size_18
    font-weight: $nine_hundred
    letter-spacing: .5px

.bar_chart
    height: 435px

.chart_xAxis
    height: 190px

.xAxis_container
    width: 118px

.xAxis_title
    text-transform: capitalize
    font-family: roboto
    letter-spacing: .5px
