@import '../../../../styles/variable'

.route_card_container
    cursor: pointer
    height: 200px
    border-radius: 12px
    background-color: $white_color

.route_card_count
    @extend %font_size_14
    font-weight: $nine_hundred

.route_card_title
    font-weight: $five_hundred
    @extend %font_size_14
    text-transform: capitalize

.route_card_approvals
    color: $primary_color
    font-size: 10px
