@import '../../../../styles/variable'

.details_bg
    background-image: url("/images/contact/pattern.webp"),linear-gradient(#0E3890)

.container
    @extend %container_padding

.details_title_primary
    @extend %font_size_32
    font-weight: $five_hundred
    font-family: "oswald",roboto
    letter-spacing: 1px

.details_para
    @extend %font_size_22
    font-family: roboto
    font-weight: $five_hundred
    letter-spacing: 0.8px
