@import '../../../../styles/variable'

.publication_list_card
    height: 100px
    box-shadow: 1px 1px 18px #0000001F
    border-radius: 10px

.publication_list_title
    @extend %font_size_18
    font-weight: $five_hundred
    overflow: hidden
    display: -webkit-box $important
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical

.publication_list_label
    color: $grey_color
    @extend %font_size_14
    font-weight: $five_hundred

.publication_list_button
    width: 170px
    height: 55px
    background-color: #12328E4D
    color: $primary_color
    @extend %font_size_18
    font-weight: $five_hundred
    &:hover,
    &:focus
        background-color: #12328E4D
        color: $primary_color
