@import '../../../../styles/variable'

.resource_bg
    background-image: url("/images/background/landing/chart.webp")
    background-position: -80px -1px
    background-repeat: repeat-y

.resource_container
    @extend %container_padding

.resource_selected_title
    @extend %font_size_25
    color: $primary_color $important
    font-weight: $nine_hundred $important

.resource_subtitle
    font-family: "oswald",roboto
    font-size: 28px $important
    color: $grey_color
    font-weight: $five_hundred
    letter-spacing: 1px

.resource_chart_indicator
    font-family: "oswald",roboto
    font-size: 20px $important
    @extend %font_size_22
    color: $grey_color
    font-weight: $five_hundred
    letter-spacing: .5px

.resource_chart_indicator span
    color: $secondary_color

.resource_chart_labels
    font-family: roboto
    font-size: 10px
    letter-spacing: .3px

.fund_chart_indicator
    width: 25px
    height: 20px

.indicator_text
    @extend %font_size_18
    font-weight: $five_hundred
    letter-spacing: .5px

.chart_container
    border-radius: 16px

.bar_chart
    height: 400px

.xAxis_container
    // width:126px

.xAxis_label
    width: 100px
.horz_scroll
    overflow: auto
    white-space: nowrap

.legend_container
    width: 155px !important

@media only screen and (max-width: 1024px)
    .resource_container
        @include container_padding_lapScreen

@media only screen and (max-width: 768px)
    .resource_container
        @include container_padding_tabScreen

    .resource_subtitle
        text-align: center
        @include font_size_22

@media only screen and (max-width: 500px)
    .resource_chart_indicator
        font-size: 15px $important
    .resource_container
        @include container_padding_smScreen

    .resource_subtitle
        text-align: center
        @include font_size_18
