@import '../../../../styles/variable'

.achievement_container
    @extend %container_padding
    background-image: url("/images/background/landing/achivements.webp")
    background-position: 0 0
    background-repeat: no-repeat

.achievement_subtitle
    @extend %font_size_18
    color: $grey_color

.achievement_card_container
    height: 300px
    border-radius: 15px
    background-color: $white_color

.achievement_card_polygon
    width: 100px
    height: 100px
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%)

.achievement_card_count
    font-size: 50px
    font-weight: $nine_hundred

.achievement_card_title
    font-weight: $five_hundred
    @extend %font_size_18

.bg_primary_color
    background-color: $primary_color
.bg_secondary_color
    background-color: $secondary_color
.bg_theme_dark_green_color
    background-color: $theme_dark_green_color
.bg_theme_lite_blue_color
    background-color: $theme_lite_blue_color
.bg_theme_sky_blue_color
    background-color: $theme_sky_blue_color
.bg_theme_golden_color
    background-color: $theme_golden_color

.ft_primary_color
    color: $primary_color
.ft_secondary_color
    color: $secondary_color
.ft_theme_dark_green_color
    color: $theme_dark_green_color
.ft_theme_lite_blue_color
    color: $theme_lite_blue_color
.ft_theme_sky_blue_color
    color: $theme_sky_blue_color
.ft_theme_golden_color
    color: $theme_golden_color
