@import '../../../../../styles/variable'

.bg
    background-image: url("/images/projects/bg/bg_3.webp")
    background-position: left top
    background-repeat: round

.container
    @extend %container_padding_projectTable

.project_details_table_container
    border-radius: 8px

.project_details_table_title
    @extend %font_size_32
    font-family: "oswald",roboto
    font-weight: $nine_hundred
    letter-spacing: 1px

.project_details_table_title_ar
    font-size: 24px $important
    font-family: $noto_kufi
    font-weight: $seven_hundred

.table_name
    @extend %font_size_14
    font-weight: $five_hundred
    color: #000
    font-family: roboto

.table_name_ar
    font-size: 13px $important
    font-weight: $five_hundred
    font-family: $noto_kufi
    color: #000

.table_title
    font-weight: bold
    font-family: roboto
    color: #000
    font-size: 18px

.table_title_ar
    font-weight: bold
    font-family: $noto_kufi
    color: #000
    font-size: 15px

@media only screen and (max-width: 1024px)
  .container
    @include container_padding_lapScreen

@media only screen and (max-width: 768px)
  .container
    @include container_padding_tabScreen

@media only screen and (max-width: 500px)
  .container
    @include container_padding_smScreen