@import '../../../styles/variable'

.role_bullet_point
    @extend %font_size_25

.collapsible_title
    display: inline-block
    width: 95%
    font-family: roboto $important
    letter-spacing: 1px
    font-size: 16px

.collapsible_title_ar
    display: inline-block
    width: 95%
    font-family: $noto_kufi $important
    font-size: 16px

.pannel_container
    display: inline-block
    width: 95% $important

.collapsible_des
    font-size: 14px

.collapsible_des_ar
    font-family: $noto_kufi $important
    font-size: 14px

@media only screen and (max-width: 1024px)

@media only screen and (max-width: 768px)

@media only screen and (max-width: 500px)
    .collapsible_title,
    .collapsible_title_ar
        font-size: 10px
    .collapsible_des,
    .collapsible_des_ar
        font-size: 8px
    .collapsible_title,
    .collapsible_title_ar,
    .pannel_container
        width: 85% $important
