@import '../../../../styles/variable'

.shareHolder_container
    @extend %container_padding

.bg
    background-color: rgba(36,180,181,0.08)
    background-image: url("/images/about/bg/bg_1.webp")
    background-position: right bottom
    background-repeat: no-repeat

.shareHolder_scrollable
    flex-wrap: nowrap
    overflow: auto
    overflow-x: scroll
    -webkit-overflow-scrolling: touch

.flag_container
    width: 150px
