@import '../../../../styles/variable'

.container
    @extend %container_padding

.contribution_total_title
    @extend %font_size_32
    font-family: "oswald",roboto
    font-weight: $nine_hundred
    letter-spacing: 1px

.contribution_total_amount
    color: $grey_color
    @extend %font_size_32
    font-family: "oswald",roboto
    font-weight: $nine_hundred
    letter-spacing: 1px
