@import '../../../../styles/variable'

.contribution_total_title
    @extend %font_size_25
    font-weight: $five_hundred

.contribution_total_amount
    color: $grey_color
    @extend %font_size_25
    font-weight: $five_hundred
