@import '../../../../styles/variable'

.isdb_manage_container
    background: url("/images/background/landing/Isdb-manages.webp") bottom left no-repeat
    @extend %container_padding
.isdb_manage_card
    height: 200px
    width: 250px
    border-radius: 8px

.isdb_manage_card_logo_container
    width: 95px
    height: 90px

.isdb_manage_card_text
    @extend %font_size_14
    font-weight: $five_hundred

.isdb_manage_card_amount
    font-weight: $nine_hundred
    @extend %font_size_18
    color: $primary_color
