@import '../../../../styles/variable'

.isdb_manage_bg
    background-image: url("/images/background/landing/Isdb-manages.webp")

    background-position: bottom left
    background-repeat: no-repeat
    background-color: #fafafa

.isdb_manage_container
    @extend %container_padding

.isdb_manage_title
    font-family: "oswald",roboto
    @extend %font_size_32
    font-weight: $nine_hundred
    letter-spacing: 1px

.isdb_manage_card
    height: 200px
    width: 250px
    border-radius: 8px
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15),6px 6px 8px 0 rgba(255, 255, 255, 0.3) inset,-8px -8px 12px 0 rgba(0, 0, 0, .25) inset

.isdb_manage_card_logo_container
    width: 95px
    height: 90px

.isdb_manage_card_text
    @extend %font_size_14
    font-family: roboto
    font-weight: $nine_hundred
    letter-spacing: 0.5px

.isdb_manage_card_amount
    font-weight: $nine_hundred
    @extend %font_size_18
    color: $primary_color
    letter-spacing: 0.5px

@media only screen and (max-width: 1024px)
    .isdb_manage_container
        @include container_padding_lapScreen

@media only screen and (max-width: 768px)
    .isdb_manage_container
        @include container_padding_tabScreen

@media only screen and (max-width: 500px)
    .isdb_manage_container
        @include container_padding_smScreen
