@import '../../../../../../styles/variable'

.selection_bg
    background-image: url("/images/about/approval/bg_3.webp")
    background-position: 0 60%
    background-repeat: no-repeat

.selection_container
    @extend %container_padding

.selection_imp
    color: $secondary_color
    font-weight: $nine_hundred
    font-family: "oswald",roboto
    @extend %font_size_25
    letter-spacing: 1px

.selection_imp_ar
    color: $secondary_color
    font-weight: $seven_hundred
    font-family: $noto_kufi
    font-size: 24px $important

@media only screen and (max-width: 1024px)
    .selection_container
        @include container_padding_lapScreen

@media only screen and (max-width: 768px)
    .selection_container
        @include container_padding_tabScreen

@media only screen and (max-width: 500px)
    .selection_container
        @include container_padding_smScreen