@import '../../../styles/variable'

.container
    @include container_padding_smScreen

// .full_head
//     box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.20)

.app_header_language_section,
.app_header_nav_container
    @extend %container_padding

.app_header_logo_title
    @extend %font_size_22
    font-family: "oswald",roboto
    font-weight: $nine_hundred
    letter-spacing: 1.5px

.app_header_logo_title_ar
    font-size: 20px
    font-family: $noto_kufi
    font-weight: $seven_hundred
    letter-spacing: 0

.app_header_container
    height: 120px $important
    z-index: 200
    position: absolute
    // background-color: $transparent $important

.app_header_language_section
    height: 40px

.language_switch_button
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255,.20)

.route_switch_button
    width: 10px

.app_header_nav_container
    border-radius: 4px

.app_header_nav_section
    height: 80px
    p
        line-height: 40px
        font-weight: 500
        font-family: roboto
        color: $grey_color
        font-size: 16px
        letter-spacing: .5px
        margin: 0 10px
        cursor: pointer
        font-weight: $five_hundred
        &:hover
            color: $grey_color

.app_header_nav_section_ar
    height: 80px
    p
        line-height: 40px
        font-weight: 500
        font-family: $noto_kufi
        color: $grey_color
        font-size: 16px
        // letter-spacing: .5px
        margin: 0 10px
        cursor: pointer
        font-weight: $five_hundred
        &:hover
            color: $grey_color

.selected
    font-weight: $nine_hundred $important
    color: $primary_color $important
    &:hover
        color: $primary_color $important

.selected>.app_nav_list_hr
    visibility: visible

.dd_list
    z-index: 1160
    font-family: roboto
    li
        color: $grey_color
        &:hover
            background-color: $primary_color $important
            color: $white_color $important

.dd_list_ar
    z-index: 1160
    font-family: $noto_kufi
    li
        color: $grey_color
        &:hover
            background-color: $primary_color $important
            color: $white_color $important

.mobile_selected_menu
    background-color: $primary_color $important
    color: #ffffff
    font-family: roboto

.mobile_selected_menu_ar
    background-color: $primary_color $important
    color: #ffffff
    font-family: $noto_kufi

.app_nav_list_hr
    visibility: hidden
    width: 1px
    margin: 0 auto
    border: 3px solid $primary_color $important
    border-radius: 10px
    opacity: 1

.language_dd_icon
    vertical-align: middle $important

.language_text
    font-family: roboto

.menu_button
    font-size: 24px
    color: $primary_color

@media only screen and (max-width: 1024px)
    .container
        @include container_padding_smScreen
    .app_header_language_section,
    .app_header_nav_container
        @include container_padding_lapScreen

    .app_header_nav_section
        p
            @include font_size_14
    .app_header_nav_section_ar
        p
            @include font_size_14

@media only screen and (max-width: 768px)
    .container
        @include container_padding_smScreen
        background-color: $white_color
    .app_header_container
        position: relative
    .language_text,
    .language_dd_icon
        color: #000 $important

    .app_header_language_section,
    .app_header_nav_container
        width: 100% $important

@media only screen and (max-width: 500px)
    .container
        @include container_padding_smScreen
    .app_header_logo_title
        @include font_size_14
    .app_header_logo_title_ar
        @include font_size_14