@import '../../../../styles/variable'

.bg
    background-image: url("/images/contribution/arab.webp")
    background-position: top left
    background-repeat: no-repeat

.contribution_table_container
    border-radius: 8px

.table_name
    font-weight: $five_hundred
    color: #000

.table_title
    font-weight: bold
    color: #000
    font-size: 16px
